<div class="row mb-5 container">
    <table class="col table">
        <tbody>
            <tr>
                <th>Especialista</th>
                <td>Cardiología</td>
            </tr>
            <tr>
                <th>Doctor</th>
                <td>Juan Pérez</td>
            </tr>
            <tr>
                <th>años de experiencia</th>
                <td>20</td>
            </tr>
            <tr>
                <th>universidad</th>
                <td>Universidad medicos</td>
            </tr>
      
      
        </tbody>
    </table>
    <div class=" col">
        <img class="img-fluid  " src="/img/doctor.svg" alt="">
    </div>
</div>
    