    <nav class="navbar navbar-expand-lg navbar-dark bg-primary-subtle">
    <div class="container">
        <picture class="col-2 text-center logo sm ">
            <img width="140px" class="mb-2" src="./img/logo.png" >
        </picture>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link fs-3 text-primary-emphasis " href="/">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link fs-3 link-primary" href="./nosotros">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-3 link-primary " href="/servicios">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-3 link-primary" href="#contacto">Contacto</a>
            </li>
            </ul>
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a  class="nav-link fs-3 link-primary" href="/login">Iniciar sesion</a>
                </li>
            </ul>
        </div>
    </div>  
    </nav>
