<!DOCTYPE html>
<html lang="es">
<!--Incluide cabecera-->
<%- include('template/cabecera'); %>
<body>
<!--Incluide navbar-->
        <%- include('template/navbar'); %>

 <!--Incluide formulario de login-->

        <%- include('template/login_formulario'); %>

 <!--Incluide formulario de foter-->
        <%- include('template/footer') %>
</body>
</html>